<!-- Cuerpo principal: se muestra si ya se cargaron los datos -->

<body class="body" *ngIf="!cargando && peliculasActuales.length && peliculasPopulares.length">

  <!-- Buscador de películas -->
  <div class="buscador-contenedor">
    <input type="text" placeholder="Buscar películas..." [(ngModel)]="busqueda" (input)="buscarPeliculasPorNombre()"
      class="input-busqueda" />

    <div *ngIf="peliculasSugeridas.length > 0" class="resultados-sugeridos">
      <div class="sugerido" *ngFor="let p of peliculasSugeridas" (click)="irADetalle(p.id)">
        <img *ngIf="p.poster_path" [src]="'https://image.tmdb.org/t/p/w92' + p.poster_path" />
        <span>{{ p.title }}</span>
      </div>
    </div>
  </div>


  <!-- Filtro de géneros -->
  <div class="genero-buscador">
    <label for="genero">Filtrar por género:</label>

    <select [(ngModel)]="generoSeleccionado" (change)="filtrarPeliculasPorGenero()">
      <option value="">Todos</option>
      <option *ngFor="let genero of generosFiltrados" [value]="genero.id">
        {{ genero.name }}
      </option>
    </select>
  </div>

  <!-- Sección de películas populares -->
  <div class="populares">
    <div class="populares_texto">POPULARES</div>
    <section class="populares_peliculas" #scrollContainerRef>
      <a *ngFor="let peliculaPopular of peliculasPopulares" [routerLink]="['/detalle-pelicula', peliculaPopular.id]">
        <div class="populares_card">
          <div class="rating-container">
            <span class="rating">{{ Math.round(peliculaPopular.vote_average * 10) }}%</span>
          </div>
          <img *ngIf="peliculaPopular.poster_path"
            [src]="'https://image.tmdb.org/t/p/w500' + peliculaPopular.poster_path" [alt]="peliculaPopular.title"
            class="populares_imagen">
        </div>
      </a>

    </section>
  </div>

  <!-- Sección de películas en cartelera -->
  <div class="cartelera">
    <div class="cartelera_texto">CARTELERA</div>
    <section class="cartelera_peliculas">
      <div *ngFor="let peliculaActual of peliculasActuales" class="cartelera_card">
        <a [routerLink]="['/detalle-pelicula', peliculaActual.id]" class="card-link">
          <img *ngIf="peliculaActual.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + peliculaActual.poster_path"
            alt="{{ peliculaActual.title }}" class="cartelera_imagen">
          <div class="cartelera_titulo">{{ peliculaActual.title }}</div>
        </a>
      </div>
    </section>
  </div>

</body>

<!-- Indicador de carga -->
<div class="body" *ngIf="cargando">
  <button class="btn btn-warning" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Cargando...
  </button>
</div>