<div class="paginaRecuperar">
  <div class="recuperar">
    <a class="back" (click)="irALogin()">
      <i class="fa-solid fa-arrow-left-long"></i>
    </a>

    <form class="div_form" (ngSubmit)="enviarCorreo()">
      <div class="texto">Recuperar contraseña</div>
      <input class="input" type="email" [(ngModel)]="email" name="email" placeholder="Correo" required />

      <button class="boton" type="submit">Enviar correo</button>

      <div *ngIf="mensaje" class="mensaje-exito">{{ mensaje }}</div>
      <div *ngIf="error" class="mensaje-error">{{ error }}</div>
    </form>
  </div>
</div>
