<div class="paginaReset">
  <div class="reset">
    <a class="back" (click)="volverLogin()">
      <i class="fa-solid fa-arrow-left-long"></i>
    </a>

    <form class="div_form" (ngSubmit)="cambiarPassword()">
      <div class="texto">Establecer nueva contraseña</div>

      <input
        class="input"
        type="password"
        [(ngModel)]="nuevaPassword"
        name="password"
        placeholder="Nueva contraseña"
        required
        minlength="8"
      />

      <input
        class="input"
        type="password"
        [(ngModel)]="confirmarPassword"
        name="confirmar"
        placeholder="Repetir contraseña"
        required
        minlength="8"
      />

    <button
        class="boton"
        type="submit"
        [disabled]="
            !sesionValida ||
            nuevaPassword.length < 8 ||
            nuevaPassword !== confirmarPassword
        "
        >
        Guardar
    </button>


      <div *ngIf="mensaje" class="mensaje-exito">{{ mensaje }}</div>
      <div *ngIf="error" class="mensaje-error">{{ error }}</div>
    </form>
  </div>
</div>
