<body>
    <div class="contenido-principal">
        <div class="perfil-container" *ngIf="usuario">
            <h2>Mi Perfil</h2>

            <!-- Imagen de perfil -->
            <img [src]="imagenPreview" alt="Foto de perfil" class="imagen-preview" />
            <input type="file" accept="image/*" (change)="capturarImagen($event)" />

            <form (ngSubmit)="guardarCambios()" #formPerfil="ngForm" class="perfil-form">
                <div class="form-group">
                    <label>Nombre</label>
                    <input [(ngModel)]="usuario.nombre" name="nombre" required />
                </div>

                <div class="form-group">
                    <label>Apellidos</label>
                    <input [(ngModel)]="usuario.apellidos" name="apellidos" required />
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input [(ngModel)]="usuario.email" name="email" required />
                </div>

                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input [value]="usuario.fecha_nacimiento" readonly />
                </div>

                <div class="form-group">
                    <label>Creado el</label>
                    <input [value]="usuario.created_at | date: 'short'" readonly />
                </div>

                <button type="submit" class="guardar-cambios">Guardar cambios</button>
            </form>

            <button class="cerrar-sesion-boton" (click)="cerrarSesion()">
                <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
            </button>
            <button class="eliminar-cuenta-boton" (click)="eliminarCuenta()">
                <i class="fa-solid fa-user-xmark"></i> Eliminar cuenta
            </button>

        </div>

        <div *ngIf="!usuario && !cargando">
            <p>No se encontró el perfil del usuario.</p>
        </div>

        <div *ngIf="cargando">
            <p>Cargando perfil...</p>
        </div>
    </div>
</body>