<div class="homeLogin">
  <div class="login">
    <form class="div_form" #inicioForm="ngForm" (ngSubmit)="iniciarSesion()">
      <div class="texto">CineCLUB</div>

      <div>
        <input class="input" type="text" name="email" [(ngModel)]="usuario.email" #email="ngModel" placeholder="Correo"
          [ngClass]="{ 'is-invalid': inicioForm.submitted && email.invalid }" required email />
        <div class="invalid-feedback col" *ngIf="inicioForm.submitted && email.invalid">
          <p *ngIf="email.errors?.['required']">Campo obligatorio</p>
        </div>
        <div class="invalid-feedback" *ngIf="inicioForm.dirty && email.invalid">
          <div *ngIf="email.errors?.['email']">Dirección email incorrecta</div>
        </div>
      </div>

      <div>
        <input class="input" type="password" name="password" [(ngModel)]="usuario.password" #password="ngModel"
          placeholder="Contraseña" [ngClass]="{ 'is-invalid': inicioForm.submitted && password.invalid }" minlength="8"
          required />
        <div class="invalid-feedback col" *ngIf="inicioForm.submitted && password.invalid">
          <p *ngIf="password.errors?.['required']">Campo obligatorio</p>
        </div>
        <div *ngIf="password.errors?.['minlength']">
          <p class="text-danger">La contraseña debe tener 8 caracteres</p>
        </div>
      </div>

      <button class="boton" type="submit">INICIAR SESIÓN</button>

      <div class="div_registro">
        <a class="div_noTienesCuenta">¿No tienes una cuenta?</a>
        <a class="div_registrate" (click)="irARegistro()">Regístrate</a>
      </div>
      <div *ngIf="!validacion[1]" class="mensaje-error">
        {{ validacion[0] }}
      </div>
    </form>
  </div>
</div>
